<!DOCTYPE html>
<html>
<head>
    <title>AutoMate</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery/2.1.4/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js')}}"></script>
    {% block javascripts %}
    {% endblock %}
</head>

<body>
    <nav class="navbar navbar-default navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Automate</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
			<li><a id="instance_name">{{ instance }}</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a>{{ user }}</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    {% include "build_header.html" %}

    {% block content %}
    {% endblock %}

    {% block build_footer %}
    {% include "build_footer.html" %}
    {% endblock %}
</body>
</html>
