{% extends "base.html" %}
{% block content %}
    <div class="container" style="margin-left:0; width: 100%; margin-right: 50px;">
        <table style="width:100%;" class="table table-condensed">
            {% for build in builds %}
            <tr class="tr-build" id="tr-build-{{ build['build_id'] }}">
                <td style="width: 40px"><span class="badge badge-inverse">{{ build['build_id'] }}</span></td>
                <td style="min-width:150px;"><a title="{{ build['changed_by'] }}" href="/instance/{{ instance }}/build/{{ build['build_id'] }}">{{ build['package'] }}-{{ build['version'] }}</a></td>
		<td><img id="build-{{ build['build_id'] }}-img" src='' title=''/></td>
                <td style="width:80px;"><span style="font-size:0.6em;white-space:nowrap;">{{ build['timestamp'] }}</span></td>

                {% for dist in build['dists'] %}
                    {% for arch in build['archs'] %}
		    <td style="width: 40px">
			    <a href="/instance/log?instance={{instance}}&build_id={{build['build_id']}}&arch={{arch}}&dist={{dist}}">
			    <span id='tr-build-{{ build['build_id'] }}-{{ dist }}-{{ arch }}' class="label" title="open build log">{{ dist }}/{{ arch }}</span></a>
		    </td>
                    {% endfor %}
                {% endfor %}

            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
<script>$(function(){ $("#header_build").addClass("active"); })</script>
<script type="text/javascript" src="/static/builds.js"></script>
{% endblock %}
