    <nav class="navbar navbar-default" style="margin: 5px;">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <div class="navbar-inner">
		    {% for instance in instances %}
		    <ul class="nav navbar-nav">
			<li id=nav-{{instance}}><a href="/instance/{{ instance }}">{{ instance }}</a></li>
		    </ul>
		    {% endfor %}
		</div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <div class="container" style="margin-left: 0;">
        <ul class="nav nav-tabs nav-justified"> 
            <li id="header_build" role="presentation"><a href="/instance/{{ instance }}/build">Build</a></li>
            <li id="header_incoming" role="presentation"><a href="/instance/{{ instance }}/incoming">Incoming</a></li>
            <li id="header_repository" role="presentation"><a href="/instance/{{ instance }}/repository">Repository</a></li>
        </ul>

    </div>
    <script>
    $(function(){
        var name = $("#instance_name").text();
	$('#nav-' + name).addClass("active");
    });
    </script>
