{% extends "header.html" %}
{% block content %}
<div class="jumbotron">
    <table class="table table-condensed">
        <tr><td style="font-weight:bolder; width: 130px;">Date:</td><td>{{ build['timestamp'] }}</td></tr>
        <tr><td style="font-weight:bolder;">Package:</td><td>{{ build['package'] }}</td></tr>
        <tr><td style="font-weight:bolder;">Version:</td><td>{{ build['version'] }}</td></tr>
        <tr><td style="font-weight:bolder;">Uploader:</td><td>{{ build['changed_by'] }}</td></tr>
    
        <tr><td style="font-weight:bolder;">Changes:</td><td>
            <pre>
                {{ build['changes'] }}
            </pre>
        </td></tr>
    
        <tr><td style="font-weight:bolder;">Build:</td><td>
            {% for dist in build['dists'] %}
                {% for arch in build['archs'] %}
		<a href="/instance/log?instance={{ instance}}&build_id={{build['build_id']}}&arch={{arch}}&dist={{dist}}">
    	    <span id="build-{{ dist }}-{{ arch }}" class="label label-default"> {{ dist }}/ {{ arch }}</span></a>
                {% endfor %}
            {% endfor %}
        </td></tr>
    </table>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="/static/build.js"></script>
{% endblock %}
