{% extends "header.html" %}
{% block content %}
<script type="text/javascript">
function log_scroll(where) {
	if (where == "end") {
		$("#pre-log").scrollTop(
				$("#pre-log")[0].scrollHeight - $("#pre-log").height());} else {
		$("#pre-log").scrollTop(0);
		}
}
</script>
<div class="well">
	Build {{build['build_id']}} Logs for: {{build['package']}} {{build['version']}}
</div>

<pre id='pre-log' class='pre-scrollable' style="max-height: 500px;">
	{{ logs }}
</pre>
{% if is_building %}
<div class='well well-small'><img src='/static/img/load.gif' /> Running build, automatic refresh enabled</div>
<script type="text/javascript">
$().ready(function () {
	log_scroll("end");
	setTimeout(function() { location.href=window.location.pathname + window.location.search; }, 5000);
});
</script>
{% else %}
<button type="button" class="btn"><a href="/instance/{{instance}}/rebuild?build_id={{build['build_id']}}&arch={{build['arch']}}&dist={{build['dist']}}">Rebuild</button>
{% endif %}
{% endblock %}
