{% extends "base.html" %}
{% block content %}
<table class="table table-condensed">
    <tr>
        <!-- foreach -->
        {% for repo in repos %}
        <td><h3>{{ repo }}</h3>
            <table class="table table-condensed">
                {% for sec in repos[repo] %}
                    {% for pkg in repos[repo][sec] %}
                    {% if loop.index == 1 %}
                    <tr><td colspan='2' style="vertical-align:top;"></td></tr>
                    <tr><td><strong>{{ sec }}</strong></td><td>{{ pkg }}</td></tr>
                    {% else %}
                    <tr><td><strong></strong></td><td>{{ pkg }}</td></tr>
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
            </table>
        </td>
        {% endfor %}
        <!-- encforeach -->
    </tr>
</table>
{% endblock %}

{% block build_footer %}
{% endblock %}

{% block javascripts %}
<script>$(function(){ $("#header_repository").addClass("active"); })</script>
{% endblock %}
